*{
    padding: 0px;
    margin: 0px;
}

.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg{
    background: linear-gradient(rgb(156, 253, 156), rgb(230, 230, 25));
    /* background-image: url("../innerbg.png"); */
    background-position: center center;
    background-size: cover;
    width: 90vmin;
    height: 90vmin;
    border: 3px solid black;
    box-shadow: 22px 23px 33px rgb(3, 37, 3);
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.head{
    background-color: red;

}

.snake{
    background-color: purple;
    border: 3px solid black;
    border-radius: 30px;

}

.food{
    background: linear-gradient(rgb(210, 248, 255), black);
    border: 3px solid black;
    border-radius: 18px;
    box-shadow: 9px 4px 35px black;
    
   
}